/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/media
/public/vendor/telescope/app.css
/public/vendor/telescope/app.js
/public/vendor/telescope/app-dark.css
/public/vendor/telescope/favicon.ico
/public/vendor/telescope/mix-manifest.json
